*{ 
    background-color: rgb(2,22,52);
    font-family:'Montserrat';
    text-align:center;
    margin:0;
    padding:0;
    font-size: 20px;
    color:white;
    margin-left: 0.5rem;
}

p{
    font-size: 15px;
    color: #fbfbfbbb;
}
#titulo{
    color:white;
    font-size: 4rem;
    text-align:justify;
}

#subtitulo{
    color:white;
    font-size: 1rem;
    text-align:justify;
    text-decoration: underline;
    margin-bottom: 5rem;
}

#button
{
    border: 15px white solid;
    border-radius: 300px;
    margin-bottom: 0.5rem;

    font-size: 20px;
    size:1rem;
    background-color:white;
    color:rgb(2,22,52);
}

#button:hover{
    color:rgba(0, 22, 56, 0.678);
}


#PlazoVig{
    text-align:justify;
    /*ojo aca viene la linea*/
    margin-bottom:5rem;
}

div{
    margin-bottom: 3rem;
}

.card{
    background-color: white;
    box-shadow: 6px 6px 6px 6px rgba(0,0,0,0.26);
    margin:15px;
    width:400px;
    border-radius: 50px;
}

.card:hover{
    box-shadow: 4px 2px 16px 0 rgba(0,0,0,0.2);
}

.container{
    border-radius: 50px;
    background-color: white;
    padding:2px 16px;
}