header{
    padding: 10px 30px;
    position: relative;
    img{
        width: 450px;
    }
    span{
        position: absolute;
        bottom: -20px;
        left: 400px;
        font-weight: bold;
    }
}