@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
// FONTS

$font_montserrat : 'Montserrat', sans-serif;

//COLORS

$blue: #021634;
$skyblue: #87B7FF;
$grey: #C4C4C4;


