@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

ul li {
  list-style-type: none;
}

a {
  color: black;
}

select {
  cursor: pointer;
}

aside {
  width: 50vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
}

aside .celeste {
  position: absolute;
  width: 613px;
  height: 100%;
  right: 0px;
  top: 0px;
  background-color: #87B7FF;
  clip-path: polygon(100% 0, 23% 100%, 100% 100%);
  z-index: 10;
}

aside .gris {
  position: absolute;
  width: 673px;
  height: 100%;
  right: 0px;
  top: 0px;
  background-color: #C4C4C4;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  z-index: 9;
}

aside .azul {
  position: absolute;
  width: 632px;
  height: 100%;
  right: 0;
  top: 0;
  background-color: #021634;
  clip-path: polygon(75% 0, 100% 0, 100% 100%, 0% 100%);
  z-index: 8;
}

header {
  padding: 10px 30px;
  position: relative;
}

header img {
  width: 350px;
}

header span {
  position: absolute;
  bottom: -10px;
  left: 250px;
  font-weight: bold;
}

main .timeline {
  width: 100vw;
  margin-top: 50px;
  position: relative;
}

main .timeline div.lines {
  width: 100%;
  height: 7px;
  background-color: #C4C4C4;
  position: relative;
}

main .timeline div.lines div {
  height: 100%;
  position: absolute;
  border-radius: 25px;
}

main .timeline div.lines .line2 {
  width: 200px;
  background-color: #021634;
}

main .timeline div.numstimeline {
  width: 100%;
  display: grid;
  grid-template-columns: calc(200px + 100px) 275px 275px;
  justify-items: end;
  margin-top: -20px;
  z-index: 5;
  position: relative;
}

main .timeline div.numstimeline .num {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .timeline div.numstimeline .num span:first-child {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50px;
  border: 3px solid #021634;
  background-color: #fff;
  text-align: center;
  color: #021634;
}

main .timeline div.numstimeline .num.active span:first-child {
  border: 3px solid #C4C4C4;
  background-color: #021634;
  color: #fff;
}

main .formStep1 {
  width: 750px;
  padding: 30px 0 0 200px;
}

main .formStep1 h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 15px;
}

main .formStep1 input,
main .formStep1 select {
  padding-left: 20px;
  border-radius: 50px;
  margin-bottom: 15px;
  border: none;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}

main .formStep1 input::placeholder {
  font-size: 1rem;
  color: #212529;
}

main .formStep1 select {
  min-height: calc(1.5em + 1rem + 7px);
}

main .formStep1 p {
  display: block;
  margin-bottom: 5px;
  font-size: 0.9rem;
  padding-left: 10px;
}

main .formStep1 input[type="number"] {
  letter-spacing: 5px;
}

main .formStep1 input[type="number"]::placeholder {
  letter-spacing: normal;
}

main .formStep1 .doc_info {
  display: grid;
  align-items: flex-end;
  position: relative;
  grid-template-columns: 35% 65%;
}

main .formStep1 .tarjeta_info {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  align-items: flex-end;
}

main .formStep1 .tarjeta_info > span {
  text-align: center;
  align-self: center;
  font-weight: 600;
  font-size: 1.2rem;
}

main .formStep1 .tarjeta_info > div input {
  margin-bottom: 0px;
}

main .formStep1 .tarjeta_info > div span {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
}

main .formStep1 .btn_section {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  justify-content: space-between;
}

main .formStep1 .btn_section button {
  width: 100%;
  border: none;
}

main .formStep1 .btn_section button:first-child {
  background-color: #C4C4C4;
  color: #021634;
}

main .formStep1 .btn_section button:last-child {
  background-color: #021634;
}
/*# sourceMappingURL=signup.css.map */